
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add person and car</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
          <form class="row g-3" #addform="ngForm" (ngSubmit)="additem(addform.value)">
            <div class="form-group has-warning">
                <label for="validationDefault01" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="validationDefault01"
                placeholder="Name" ngModel required #name="ngModel">
              </div>
              <div class="mb-3 has-warning">
                <label for="validationDefault02" class="form-label">Lastname</label>
                <input type="text" class="form-control" name="last" 
                placeholder="Lastname" ngModel required>
              </div>
              <div class="mb-3">
                <label for="validationDefault03" class="form-label">Surename</label>
                <input type="text" class="form-control" name="sur" 
                placeholder="Surename" ngModel required>
              </div>
              <div class="mb-3">
                <label for="validationDefault04" class="form-label">Car</label>
                <input type="text" class="form-control" name="car" 
                placeholder="Cars" ngModel required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Registration Number</label>
                <input type="text" class="form-control text-uppercase" name="registr" 
                placeholder="Number" ngModel required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Model</label>
                <input type="text" class="form-control" name="model" 
                placeholder="Model" ngModel required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Year</label>
                <input type="number" class="form-control" name="year" id="ye"
                placeholder="Year" max="2022" min="1990" ngModel required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Quantity</label>
                <input type="number" class="form-control" name="quantity" id="ye"
                placeholder="Quantity" ngModel required>
              </div>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
            </form>
         
      </div>
    </div>
  </div>
<!--Была реализована браузерная валидация, которая после добавления директив поменяла приоритетность и перестала работать. В файле 
HTML она отображенна.  -->>
  