/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://i.ytimg.com/vi/_XUL2KIf6TI/maxresdefault.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}